@charset "ISO-8859-1";

.card{
    height:400px;
    position:relative;
}

.img-fluid{
    height:80%;  
    width:auto; 
}

.buttons{
    display:flex;
    justify-content:space-between;
}

.actions{
    position:absolute;
    left:97%;    
}


table tr {
    background-color: transparent !important;
}


.box{
    display:flex;    
    flex-direction:column;
    overflow: auto;
    height:100em;
    align-items:center;
}

.box > {
  flex-shrink: 0;
  width: 10em;
  height: 10em;
}
