
body{
	background:#E9DAD7;
}

h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	text-align: center;
	color:#411023;
	margin-top: 30px;
}





.container .card{
	width: 330px;
	height: 430px;
	border-radius: 8px;
	overflow: hidden;
	margin: 20px auto;
	text-align: center;
	border: #ef8354 5px solid;
	background: #4e4d4d ;
}

.conteiner .card img{
	width: 30px;
	height: 50px;
}

.container .card h4{
	width:100%;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #4e4d4d;
	color: #fff;
}
 
	
.formulario{
	width:100%;
	height: 100%;
	background: #4e4d4d ;
	padding: 2px 2px;
	color: white;
}

#campoTexto {
	width: 100%;
	height: 25px;
	border: 1px solid #411023;
	margin-top: 0;
	padding: 5px 5px;
	background: #252323;
	font-size:  14px;
	font-weight: bold;
	color: #ef8354;;
}

#boton{
	width: 100%;
	height: 40px;
	background:#411023;
	border: none;
	color: white;
	margin-top: 15px;
}

#boton:hover{
	background: #ef8354;
}


#boton_Añadir{
	width: 100%;
	height: 40px;
	background:#411023;
	border: none;
	color: white;
	margin-top: 52px;
}

#boton_Añadir:hover{
	background: #ef8354;
}


.containerAutor .cardAutor{
	width: 330px;
	height: 500px;
	border-radius: 8px;
	overflow: hidden;
	margin: 20px auto;
	text-align: center;
	border: #ef8354 5px solid;
	background: #4e4d4d ;
}

.conteinerAutor .cardAutor img{
	width: 30px;
	height: 50px;
}

.containerAutor .cardAutor h4{
	width:100%;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #4e4d4d;
	color: #fff;
}
 
	
.formularioAutor{
	width:100%;
	height: 100%;
	background: #4e4d4d ;
	padding: 2px 2px;
	color: white;
}

#campoTextoAutor {
	width: 100%;
	height: 25px;
	border: 1px solid #411023;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 5px 5px;
	background: #252323;
	font-size:  14px;
	font-weight: bold;
	color: #ef8354;;
}

#botonAutor{
	width: 100%;
	height: 40px;
	background:#411023;
	border: none;
	color: white;
	margin-top: 10px;
}

#botonAutor:hover{
	background: #ef8354;
}







.containerLibro .cardLibro{
	width: 30%;
	height: auto;
	border-radius: 8px;
	overflow: hidden;
	margin: 20px auto;
	text-align: center;
	border: #ef8354 5px solid;
	background: #4e4d4d ;
}

.conteinerLibro .cardLibro img{
	width: 30px;
	height: 50px;
}

.containerLibro .cardLibro h4{
	width:100%;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #4e4d4d;
	color: #fff;
}
 
	
.formularioLibro{
	width:100%;
	height: 100%;
	background: #4e4d4d ;
	padding: 2px 2px;
	color: white;
}

#campoTextoLibro {
	width: 100%;
	height: 25px;
	border: 1px solid #411023;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 5px 5px;
	background: #252323;
	font-size:  14px;
	font-weight: bold;
	color: #ef8354;;
}

#botonLibro{
	width: 100%;
	height: 40px;
	background:#411023;
	border: none;
	color: white;
	margin-top: 10px;
}

#botonLibro:hover{
	background: #ef8354;
}

#campoTextoEditorial {
	width: 100%;
	height: 40px;
	border: 1px solid #411023;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 10px 10px;
	background: #252323;
	font-size:  14px;
	font-weight: bold;
	color: #ef8354;;
}

#campoTextoCategoria {
	width: 100%;
	height: 40px;
	border: 1px solid #411023;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 10px 10px;
	background: #252323;
	font-size:  14px;
	font-weight: bold;
	color: #ef8354;;
}

h3{
	font-weight: 200;
	margin-top: 5px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	color: #fff;
}

#h3_2{
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 13px;
	letter-spacing: 1px;
	color: #fff;
}


.checkbox-inline {
	width: 15px;
	height: 15px;
	margin-left: 20px;
}

.contieneAutores{
	display: flex;
  flex-wrap: wrap;
}



@media (max-width: 858px){
    .containerLibro .cardLibro{
	width: 90%;
	height: auto;
	border-radius: 8px;
	overflow: hidden;
	margin: 20px auto;
	text-align: center;
	border: #ef8354 5px solid;
	background: #4e4d4d ;
}
    }