@charset "ISO-8859-1";


body{
	margin: 0;
	font-family: arial; 
	background-color:#E9DAD7;
}



.hero{
    width: 100%;
    max-width: 3000px;
    min-height: 100vh;
    background: linear-gradient(180deg, #4e4d4d 0%, #1A1B1F 100%);
}

.nav__hero{
	width: 100%;
	max-width: 3000px;
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    background: linear-gradient(180deg, #550f2c 0%, #411023 100%);
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
    position:relative;
    width: 100%;
}

.logo__name{
    font-size: 24px;
    padding: 20px;
}

.point{
    color: #ef8354;
}


.button2{
	width: 100px;
	height: 40px;
	background:#ef8354;
	border: none;
	color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 80%;
}

.button2:hover{
    border: 1px solid #411023;
    background-color: #ffab66;
    transform: scale(1.1);
}





.hero__main{
    display: flex;
    padding:0;
    background: linear-gradient(180deg, #4e4d4d 5%, #1A1B1F 100%);
}


.hero__textos{
	width: 100%;

}

.title2{
	margin:30px 20px;
    font-size: 25px;
    font-weight: 15;
    color: #fff;
}


.botonAtras{
	width: 50px;
	height: 40px;
	background:#ef8354;
	border: none;
	color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.botonAtras:hover{
    border: 1px solid #411023;
    background-color: #ffab66;
    transform: scale(1.1);
}



.botonAtrasLibro{
	width: 50px;
	height: 40px;
	background:#ef8354;
	border: none;
	color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    margin-top:15px;
    margin-right: 20px;
}

.botonAtrasLibro:hover{
    border: 1px solid #411023;
    background-color: #ffab66;
    transform: scale(1.1);
}

.botonAtrasDetalleLibro{
	width: 50px;
	height: 40px;
	background:#ef8354;
	border: none;
	color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    margin-top:5px;
    margin-right: 45px;
}

.botonAtrasDetalleLibro:hover{
    border: 1px solid #411023;
    background-color: #ffab66;
    transform: scale(1.1);
}







