*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.cuerpo {
  font-family: arial;
  height: 100vh;
  background: url('../pictures/biblioteca.jpg') 50% fixed;
  background-size: cover;
}

.form-login{
	width: 400px;
	height: 340px;
	background: #4e4d4d ;
	margin: auto;
	margin-top: 180px;
	padding: 20px 30px;
	border-top: 4px solid #411023; /*red*/
	color: white;
}

.form-login h5{
	margin: 0;
	text-align: center;
	height: 40px;
	font-size: 20px;

}

.controls {
	width: 100%;
	border: 1px solid #411023;/*red*/
	margin-bottom: 15px;
	padding: 11px 10px;
	background: #252323;
	font-size:  14px;
	font-weight: bold;
	color: #ef8354; /*#FF4c33*/
}

.button{
	width: 100%;
	height: 40px;
	background: #411023;/*red*/
	border: none;
	color: white;
	margin-bottom: 16px;
	cursor: pointer;
	border: 2px solid #411023;

}

.button:hover{
	background: #ef8354;
}


@media (max-width: 1000px){


.form-login{
	width: 60%;
	height: auto;
}
}