@charset "ISO-8859-1";
.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #4e4d4d;
}

.navegacion ul{
	list-style: none;
	text-align: center;

}

.menu> li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 20px 45px; 
	color: white;
	font-family: arial;
	text-decoration: none;
}

.menu li a:hover{
background: #ef8354;
transition: all .5s;
}


.menu > li > form{
	display: block;
	padding: 20px 45px; 
	color: white;
	font-family: arial;
	text-decoration: none;
}

.menu li form:hover{
background: #ef8354;
transition: all .5s;
}



/*SUB-MENU CLIENTE Y ADMINISTRADOR*/

.subMenu{
	position: absolute;
	width: 100%;
	background:#411023;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

.subMenu li a {
	display: block;
	padding: 15 px;
	color: white;
	font-family: arial;
	text-decoration: none;
	padding: 10px 20px; 
}

.subMenu li form {
	display: block;
	padding: 15 px;
	color: white;
	font-family: arial;
	text-decoration: none;
	padding: 10px 20px; 
}




.menu li:hover .subMenu {
	visibility: visible;
	opacity: 1;
}