@charset "ISO-8859-1";

body{
	margin: 0;
	font-family: arial; 
	 background: #808080;
}

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
    
}

.item__contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, #808080 0%, #404040 100%);
    

}


.item__contact--gold{
    background: #411023;
    color: white;;
}

.contact__icon{
    font-size: 14px;
    color: #ef8354;;
    line-height: 20px;
    margin-right: 4px;
}


.contact__title{
    font-size: 16px;
    line-height: 20px;
}


@media (max-width:1000px){
	   .item__contact{
        width: 100%;
        height: auto;
    }
      .container--modifier{
        width: 90%;
    }
	}
	
