@charset "ISO-8859-1";

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #4e4d4d 0%, #1A1B1F 100%);
}

.nav__hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    background: linear-gradient(180deg, #550f2c 0%, #411023 100%);
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name{
    font-size: 24px;
    padding: 20px;
}

.point{
    color: #ef8354;
}


.button2{
	width: 100px;
	height: 40px;
	background:#ef8354;
	border: none;
	color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
}

.button2:hover{
    border: 1px solid #411023;
    background-color: #ffab66;
    transform: scale(1.1);
}


/* para texto bienvenida */


.hero__main{
    display: flex;
    align-items: center;
    padding:0;
    background: linear-gradient(180deg, #4e4d4d 5%, #1A1B1F 100%);
}


.hero__textos{
	width: 100%;
	}

.title{
	margin-bottom: 35px;
    font-size: 20px;
    font-weight: 15;
    color: #fff;
}

.title--active{
    color: #ef8354;
    font-weight: 700;
}



.botonAtras{
	width: 50px;
	height: 40px;
	background:#ef8354;
	border: none;
	color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 80%;
}

.botonAtras:hover{
    border: 1px solid #411023;
    background-color: #ffab66;
    transform: scale(1.1);
}

/* para menu */

.contieneMenu{
	height:50px;
	background: #1A1B1F;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

#btn-menu{
	display:none;
}

.contieneMenu label{
	font-size: 30px;
	cursor:pointer;
	display:none;
}

.menu ul {
	background: #1A1B1F;
	display: flex;
	list-style: none;
}

.menu ul ul{
	display:none;
}

.menu a{
	display:block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.menu a:hover{
	background:#ef8354;
}


.menu ul li:hover ul{
	 display: block;
	 position: absolute;
}

.submenu a{
	width: 120px;
	text-align:center;
}

.submenu ul li{
	width: 120px;
}

@media (max-width:1000px){
	.contieneMenu{
		justify-content:flex-start;
	}
	.contieneMenu label{
		display: block;
	}
	
	.menu{
		position: absolute;
		top: 224px; /* modificar esto cuando se suba a jelastic*/
		left:0;
		width: 50%;
		transform: translateX(-100%);
		transition: all 0.3s;
	}
	
	.menu ul {
		display:block;
		background: #411023;
	}
	
	.menu ul li:hover ul{
		display:none;
		position:static;
		}
		
	#btn-menu:checked ~ .menu{
		transform: translateX(0%);
	}
	
	.submenu a{
	width: 120px;
	text-align:left;
}
	.submenu ul li{
	width: 120px;
	margin-left: 70px;
	text-align: left;
}
	
}


/*para slider*/


.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*para footer*/

.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
    
}

.item__contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, #808080 0%, #404040 100%);
   
}

.contact__icon{
    font-size: 14px;
    color: #ef8354;;
    line-height: 20px;
    margin-right: 4px;
}


.contact__title{
    font-size: 16px;
    line-height: 20px;
}

@media (max-width:1000px){

.item__contact{
        width: 100%;
        padding: 30px 0;
    }

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	min-height: 200px;
  height:auto;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
	min-height: 200px;
	height:auto;
}
	
}

