@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cuerpo {
  font-family: arial;
  height: 100vh;
  background: url('../pictures/biblioteca.jpg') 50% fixed;
  background-size: cover;
}



.form-login p{
	height: 45px;
	text-align:  center;
	border-bottom: 1px solid;
}

.form-login a{
	color: white;
	text-decoration: none;
	font-size: 14px;

}

.form-login a:hover {
	text-decoration: underline;
}

.button1{
	width: 100%;
	height: 40px;
	background:#411023;
	border: none;
	color: white;
	margin-bottom: 16px;

}


.form-registrar{
	width: 400px;
	height: 590px;
	background: #4e4d4d ;
	margin: auto;
	margin-top: 80px;
	padding: 20px 30px;
	border-top: 4px solid #411023;
	color: white;
}

.form-registrar h5{
	margin: 0;
	text-align: center;
	height: 40px;
	font-size: 20px;

}

.form-registrar a{
	color: white;
	text-decoration: none;
	font-size: 14px;

}

.form-registrar a:hover {
	text-decoration: underline;
}

.form-registrar p{
	height: 40px;
	text-align:  center;
	border-bottom: 1px solid;
}

.controlr {
	width: 100%;
	border: 1px solid #411023;
	margin-bottom: 15px;
	padding: 11px 10px;
	background: #252323;
	font-size:  14px;
	font-weight: bold;
	color: #ef8354;;
}

.button1:hover{
	background: #ef8354;
}

@media (max-width: 858px){


.form-registrar{
	width: 90%;
	height: auto;
}
}