body{
    background-color:#E9DAD7;
    font-family: arial;
}

/* para botones de habilitar/suspender cliente */

.anular{
  position:relative;
  top:8.8px	
}


#boton{
	width: 100%;
	height: 40px;
	background:#411023;
	border: none;
	color: white;
	margin-bottom: 0px;
}

#boton:hover{
	background: #ef8354;
}


/*tabla para mostrar datos de listados responsive*/



.table-striped thead th{ 
    text-transform: uppercase;
    background-color: #411023;
    color:#fff;
}

table thead tr{
    background-color: #411023;
    color:white;
}


table tr {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f8cdba;
}


table {
    border: 1px solid #ccc;
    width: 100%;
    margin: 80px auto;
    border-collapse: collapse;
}

   table td img{
    border-radius:10px;
    width:100px;
    height:auto;
    margin:auto;    
}


table tr:nth-child(even) {
    background-color: #f5b498;
}


tr:hover td{
    background-color: #999999;
    color: white;
}

table td, table th {
    padding: 10px;
    text-align: center;
}

table th {
    text-transform: uppercase;
    font-family: 18px;
    letter-spacing: 1px;
}


/*//////////////////////////////////////////////*/



@media screen and (max-width: 500px) {
    table {
        border:0;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;

    }

    table td {
        display: block;
        text-align: right;
        font-size: 16px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: 600;
    }

    table thead {
        display: none;
    }
    
}
